.services {
  position: relative;
  top: 796px;
  width: 80%;
  margin-left: 10%;
}

.services h1 {
  color: var(3rd, #14183E);
  text-align: center;
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.services h3 {
  color: var(--TEXT-CLR, #5E6282);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.services .cards {
  display: flex;
  margin-top: 68px;
}

.services .card1 {
  display: flex;
  flex-direction: column;
}
